/*-----------------------Main Screen---------------------------*/
#mainScreen {
    -fx-background-image: url("homescreenBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-color: black;
}
#mainScreenBtn{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#mainScreenBtn:hover{
    -fx-background-color: black;
}
/*-----------------------New Game Screen-------------------------*/
#name1Field{
    -fx-border-color: red;
    -fx-focus-color: red ;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/