/*-----------------------Main Screen---------------------------*/
#mainScreen {
    -fx-background-image: url("homescreenBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-color: black;
}
#mainScreenBtn{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#mainScreenBtn:hover{
    -fx-background-color: black;
}
/*-----------------------New Game Screen-------------------------*/
#newGameScreen{
    -fx-background-image: url("cartoonDesertBackground.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-color: black;
}
#name1Field{
    -fx-border-color: red;
    -fx-focus-color: red ;
}
#boldText{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #1a1a1a;
}
#charDescriptionArea{
    -fx-border-radius: 10px;
}
/*----------------------Starting Game Info Screen------------------*/
#startingGameInfoViewBackground{
    -fx-background-color: black;
    -fx-background-image: url("starryNightBackground.jpg");
}
#topLabelStartingGameInfoView{
    -fx-text-fill: yellow;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
#bottomLabelStartingGameInfoView{
    -fx-text-fill: yellow;
    -fx-font-size: 14;
}
/*-----------------------Starting Town Screen-----------------------*/
#startingTownPane{
    -fx-background-image: url("startingTown.jpg");
    -fx-background-position: center center;
    -fx-background-color: black;
    -fx-background-repeat: no-repeat;
}
#startTownBtn{
    -fx-background-color: rgba(51, 26, 0, 0.8);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#startTownBtn:hover{
    -fx-text-fill: saddlebrown;
}
#startTownStoreGrid{
    -fx-background-image: url("startStoreBackground.jpg");
    -fx-background-position: center center;
    -fx-background-color: black;
    -fx-background-repeat: no-repeat;
}
#startStoreHeaders{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}
#startStoreCart{
    -fx-border-color: black;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
    -fx-background-image: url("brownBagBack.jpg");
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}
#cartItems{
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
#treeStyle{
    -fx-border-color: forestgreen;
}
.tree-cell:hover, .tree-cell:selected {
    -fx-background-color: forestgreen;
}
.tree-cell{
    -fx-font-size: 15;
}
#cartTotalLabel{
    -fx-font-size: 18px;
    -fx-text-fill: forestgreen;
    -fx-font-weight: bold;
}
#mainStoreBtn{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#mainStoreBtn:hover{
    -fx-background-color: black;
}
#mainStoreUserCashBtn{
    -fx-background-color: #994d00;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-border-color: #331a00;
    -fx-border-radius: 6, 5;
    -fx-border-insets: 0, 1;
    -fx-border-width: 3;
}

#startStableGrid{
    -fx-background-image: url("stablesBackground.jpg");
    -fx-background-position: center center;
    -fx-background-color: black;
    -fx-background-repeat: no-repeat;
}
#stableVbox1{
    -fx-background-color: rgba(0, 0, 0, 0.8);
}
#stableVbox2{
    -fx-background-color: rgba(0, 0, 0, 0.8);
}


#saloonGridBackground{
    -fx-background-image: url("saloonBackground2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-color: black;
}
#startTownSaloonTooltip{
    -fx-font-size: 12;
    -fx-font-weight: bold;
}
/*---------------------Inventory Popup---------------------------*/
#inventoryBackground{
    -fx-background-image: url("inventoryBackground.jpg");
}
#inventoryItemLabel{
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#inventoryScrollPane{
    -fx-background: transparent;
    -fx-background-color: transparent;

}
/*---------------------Esc Menu Popup----------------------------*/
#escScreenBtn{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#escScreenBtn:hover{
    -fx-background-color: black;
}
#escScreenPopup{
    -fx-background-image: url("EscMenuBackground.jpg");
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/